h2{
    font-family: Algerian;
    font-size: 35px;
}
#Egypt{
    margin: 30px;
    padding: 30px;
    color: hotpink;
    border: 8px dashed blue;
    text-align: center;
    background-color: khaki;
}
#SouthAfrica{
    text-align: right;
    color: rebeccapurple;
    border: 5px solid crimson;
    background-color: aquamarine;
    margin: 30px;
    padding: 30px;

}
body{
    background-color: violet;
    margin: 2px;


}
#Kenya{
    margin: 30px;
    padding: 30px;
    color: darkslategray;
    border: 2px dotted black;
    text-align: center;
    background-color: darkturquoise;
}
p{
    font-family: Bahnschrift;
    font-size: 20px;
    color: cadetblue;
}
#Ghana{
    margin: 30px;
    padding: 30px;
    border: 4px solid salmon;
    background-color: firebrick;
    text-align: center;
}
